



.imge{
  
    width: 60%;
}
.bt>a:first-child{
    text-decoration: none;
    color: white;
    background-color:$orang;
    padding: 10px;
    border-radius: 40px;
    text-align: center;
    padding-inline: 5vh;
}
.bt>a:first-child:hover{
background-color: $hove;
}
.bt>a:last-child{
text-decoration: none;
color: $orang;
border: $orang solid 1px;
padding: 10px;
border-radius: 40px;
padding-inline: 5vh;
text-align: center;

}
.bt>a:last-child:hover{
    background-color: $orang;
    color: white;
}

.bt{
    display: flex;
    gap: 2vh;

    align-items: center;
}
.gap{
    padding-top: 10vh;
    padding-inline: 15vh;
    justify-content: center;
}
.font{
    font-size: 6vh;
    font-family: Questrial,'sans-sarif' ;
}
.grid{
    grid-template-columns: repeat(2,1fr);
    text-align: start;
    box-shadow: 1px 0.5px 5px #00000033;
    border-radius: 20px;
    padding: 5vh;
}
.imge2{
    width: 40vw;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.color{
    color: $mar;
    margin: 0;
    
}
span{
    color:$orang;
}
.wit{
    width: 25vh;
    color: $hove;
}
.progress{
    width: 100%;
    height: 15px;
    border: none;
}
.prog{
    background:$orang;
    height: 100%;
    width: 90%;
}
.pg1{
    background: $orang;
    height: 100%;
    width: 80%;
}
.pr2{
    background: $orang;
    height: 100%;
    width: 55%;
}
.chado{
    padding: 2vh;
    box-shadow: 1px 0.5px 5px #00000033;
    border-radius: 5px;
}
.left{
  text-align: end;
}
.bg{
    background-color: #faf9fb;

  
}
.pad{
    padding-bottom:10vh ;
}
.im{
    width: 40vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
}

.small{
    width: 65px;
    height: 60px;
    border-radius: 50px;
}
.backg{
 
   padding-inline: 5vh;
   width: 100%;
 

}

.bab{

    box-shadow: 2px 1px 5px #00000033;
    background-color: white;
    border-radius: 20px;
}
.grid2{
    grid-template-columns: repeat(2 ,1fr);
}
.btt>a{
    text-decoration: none;
color: $orang;

border: $orang solid 1px;
padding: 10px;
border-radius: 40px;
padding-inline: 5vh;
text-align: center;
}
.btt>a:hover{
    background-color: $orang;
    color: white;
}
.hover:hover{
    transform: scale(1.05);
    padding: 2.5vh;
    transition: 1s;
}
.hover>div>h5:hover{
    color: $orang !important;
}

// tajriba
.progress{
    width: 100%;
    height: 15px;
    border: none;
}
.prog{
    background: $orang;
    height: 100%;
    width: 90%;
}
.pg1{
    background: $orang;
    height: 100%;
    width: 80%;
}
.pr2{
    background: $orang;
    
    height: 100%;
    width: 55%;
}

.btto{
    text-decoration: none;
    color: white;
    background-color:$orang;
    padding: 10px;
    border-radius: 40px;
    text-align: center;
    padding-inline: 5vh;
}

.btto:hover{
    background-color: $hove;
}
.posi{
    top: 5vh;
    padding-left: 20rem !important;
    
 

}
.paddin{
    padding-inline:30vh !important ;
}


.imge3{
    width: 100%;
    
    border-radius: 20px;
}
.fle{
    display: flex;
    align-items: center;
    padding: 5vh;
    padding-inline: 15vh;
}
.colom2{
    display: flex;
    flex-direction: column;
   
    gap: 2vh;
}
.fle2{
    display: flex;
    gap: 2vh;
}